<!DOCTYPE html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#ebb0b0" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Baby Life</title>
  <!-- script -->
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <!-- css -->
  <link href="resource/css/reset.css" rel="stylesheet" type="text/css">
  <link href="resource/css/frame.css" rel="stylesheet" type="text/css">
  <link href="resource/css/sakura.css" rel="stylesheet" type="text/css">
  <script>
    $(document).ready(function () {
      $('.main-section').sakura();
    });
</script>
  </head>
  <body>
    <div class="wrap">
      <header class="main-header size-boxing-header">
        <img src="resource/img/logo.png" />
        <div class="main-menu"
          @click="isActive = !isActive"
          :class="{active: isActive}">
            <div class="menu-line" ></div>
        </div>
      </header>
      <div class="container">
        <div class="headline-image">
        </div>
        <section class="main-section size-boxing">
          <h1>육아 일기</h1>
          <ul>
            <li v-for="(t, index) in timePeriod" class="time-period">
              <div class="time-left">
                <a class="message" v-if="index % 2">
                  <span> {{t.period}} </span>
                </a>
                <div class="stem"></div>
                <div class="flowers">
                  <div class="flower" v-for="f in 6"></div>
                </div>
              </div>
              <div class="time-divide">
                <div class="tree-first"></div>
                <div class="tree-second"></div>
              </div>
              <div class="time-right">
                <div class="stem"></div>
                <div class="flowers">
                  <div class="flower" v-for="f in 6"></div>
                </div>
                <a class="message" v-if="(index % 2)+1">
                  <span> {{t.period}} </span>
                </a>
              </div>
              <!-- {{ t.text }} -->
            </li>
			<li class="time-period">
			  <div class="time-left"></div>
			  <div class="time-divide">
                <div class="tree-first"></div>
                <div class="tree-second"></div>
              </div>
			  <div class="time-right"></div>
			</li>
          </ul>
        </section>
      </div>
      <footer class="main-footer">
      </footer>
    </div>
  </body>
<script src="resource/js/frame.js"></script>
</html>
